___
# Python Crash Course for Data Science

* Part 1: Using Python as a Calculator
    * 1.1. Numbers
    * 1.2. Strings
    * 1.3 Boolean
    * 1.4. Lists
    * 1.5. Dictionaries
    * 1.6. Tuples 
    * 1.7. Sets
* Part 2: 
    * 2.1. Comparison Operators
    * 2.2. Logic Operators
    * 2.3. if,elif, else Statements
    * 2.4. for Loops
    * 2.5. while Loops
    * 2.6. The range() Function
* Part 3 :  functions, methods, and python packages
    * 3.1. functions
    * 3.2. lambda expressions
    * 3.3  Methods 
    * 3.4. Tuple Unpacking
    * 3.5. list comprehension
* Part 4 : Excercise 
    * Test your understanding of Python Basics

## 1.1. Using Python as a Calculator
Let’s try some simple Python commands.

### 1.1. Numbers

In [2]:
2+2

4

In [12]:
2*3-1

5

In [14]:
# exponent : With Python, we use the ** operator to calculate powers
5**2

25

In [5]:
# parentheses (()) can be used for grouping
(2+3)*(5+7)

60

Division (/) always returns a float. To do floor division and get an integer result you can use the // operator; to calculate the remainder you can use %:

In [8]:
16/3

5.333333333333333

In [10]:
# floor division and get an integer result
16//3

5

In [11]:
#  to calculate the remainder you can use %: also called modulo
16%3

1

In [5]:
# you can add comments to your Python scripts. 

# Addition
print(2+3)

# Multiplication
print(5*2)

5
10

###### Problem: 
Suppose you have $100, which you can invest with a 10% return each year. 
Write a python script/code to calculate how much money you end up with after 10 years, 
and print the result.

In [10]:
print(100*(1.1)**10)

259.3742460100002

##### Variable and data type

In Python, a variable allows you to refer to a value with a name.
 To create a variable use =, like this example:

In [15]:
# Can not start with number or special characters
name_of_var = 2

In [16]:
# Examples
x = 3
y = 3

In [17]:
z = x + y
print(z)

6

Remember, = in Python means assignment, it doesn't test equality!

Remember how you calculated the money you ended up with after 10 years of investing $100?
 You did something like this:

In [18]:
100 * 1.1 ** 10

259.3742460100002

Instead of calculating with the actual values, you can use variables instead.

In [23]:
# Create a variable investment
investment = 500

# Create a variable growth_multiplier

growth_multiplier = 1.1

#  create a variable  year
year = 3

# Calculate result
result = investment*growth_multiplier**year

# Print out result
print(result)

665.5000000000002


##### Other variable types
In the previous exercise, you worked with two Python data types:

##### int, or integer:
a number without a fractional part. savings, with the value 100, is an example of an integer.
##### float, or floating point: 
a number that has both an integer and fractional part, separated by a point. growth_multiplier, with the value 1.1, is an example of a float.

Next to numerical data types, there are two other very common data types:

##### str, or string:
a type to represent text. You can use single or double quotes to build a string.
##### bool, or boolean:
a type to represent logical values. Can only be True or False (the capitalization is important!).

### 1.2. Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [15]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [17]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [19]:
# The print() function produces a more readable output
print("doesn't")

doesn't

In [28]:
print('C:\some\name') # here \n means newline!

C:\some
ame

In [29]:
print('C:\some\\name')

C:\some\name

In [31]:
# you can use raw strings by adding an r before the first quote
print(r'C:\some\name')

C:\some\name

Strings can be concatenated (glued together) with the + operator, and repeated with *:

In [36]:
3*"hello"

'hellohellohello'

In [45]:
"hello"+"hello"
# they are pasted together

'hellohello'

In [41]:
# Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.
"Py" "thon"

'Python'

In [42]:
# Strings can be indexed (subscripted)
word = 'Python'
word[0]  # character in position 0

'P'

In [43]:
# Indices may also be negative numbers, to start counting from the right:
word[-1]

'n'

In [44]:
# Python strings cannot be changed — they are immutable.
word[0] = 'J'

TypeError: 'str' object does not support item assignment

### 1.3 Boolean

In [33]:
# Create a variable profitable
profitable = True
Not_profitable = False

print(type(profitable))

<class 'bool'>

#### Type conversion
"""
Using the + operator to paste together two strings can be very useful in building custom messages.

Suppose, for example, that you've calculated the return of your investment and want to summarize the results in a string.

In [29]:
print("I started with $" + investment + " and now have $" + result + ". Awesome!")

# This will not work, though, as you cannot simply sum strings and integers/floats.

TypeError: can only concatenate str (not "int") to str


To fix the error, you'll need to explicitly convert the types of your variables. 

You'll need str(), to convert a value into a string.

 str(savings), for example, will convert the integer savings to a string.

Similar functions such as int(), float() and bool() will help you convert Python values into any type.

In [31]:
print("I started with $" + str(investment) + " and now have $" + str(result) + ". Awesome!")

I started with $500 and now have $665.5000000000002. Awesome!

In [ ]:
# There is another way, we can write this summary, using a format method

In [32]:
"I started with ${one} and now have ${two}. Awesome!".format(one=investment, two =result )
# we will talk about the methods later in this tutorial

'I started with $500 and now have $665.5000000000002. Awesome!'

### 1.4. Lists

So far you have learn about different data type:

    float: to represent real numbers
    
    int : to represent integer numbers
    
    str : to represent string, text
    
    bool: to represent boolean (True or False)

In [49]:
growth_multiplier = 1.1
invesment = 100
x = 'hello'
profitable = True

Each of these varinales represents a single value

As a data scientist you often dealing with many data points

Data Science: many data point (dataset) \
For example : heights of all the members in your family

In [52]:
member1_height = 163  
member2_height = 161  
member3_height = 159 
member4_height = 167 
member5_height = 164 
member6_height = 160

This is very inconvenient. Instead we can store all in a Python list with squre brackets

In [53]:
fam = [163,161,159,167,164,160]

list is a compound data type \
A list contain any data type, it can also contain different data types: For example
you can add the names of the family members, so that you distinguse which heigh belongs to whom

In [54]:
fam = ["Bob",163,"Della",161,"Mom",159,"Dad",167,"grandfa",164,"grandma",160]

 list can contain list as well: we can create little sublists:

In [60]:
fam_1 = [["Bob",163],
         ["Della",161],
         ["Mom",159],
         ["Dad",167],
         ["grandfa",164],
         ["grandma",160]]

now check the type of these two variables

In [61]:
print(type(fam))
print(type(fam_1))

<class 'list'>
<class 'list'>

##### Subsetting list

Subsetting Python lists is a piece of cake.\

 
 python list index starts from 0

In [34]:
fam = ["Bob",163,"Della",161,"Mom",159,"Dad",167,"grandfa",164,"grandma",160]

print(fam[0])

Bob

In [35]:
# You can also use negative indexing.
print(fam[-1])

160

In [36]:
print(fam[11])

160

####  list slicing

In [37]:
fam[2:5]

['Della', 161, 'Mom']

the syntax is like this: lower bound is includined and the upper bdd is excluded.

[start:end] [inclusive:exclusive] 


If you want to include up to 4 elements,

In [41]:
fam[:4]

['Bob', 163, 'Della', 161]

In [43]:
# last 4 elements
fam[-4:]

['grandfa', 164, 'grandma', 160]

In [44]:
fam[8:]

['grandfa', 164, 'grandma', 160]

####  Manipulating Lists


- we can change the list element
- we can add new elements to the list
- we can delete/remove elements from the list

In [2]:
fam = ["Bob",163,"Della",161,"Mom",159,"Dad",167,"grandfa",164,"grandma",160]

In [3]:
fam[0] = "Mark"

In [4]:
print(fam)

['Mark', 163, 'Della', 161, 'Mom', 159, 'Dad', 167, 'grandfa', 164, 'grandma', 160]

In [5]:
fam2 = fam+["me", 164]
print(fam2)

['Mark', 163, 'Della', 161, 'Mom', 159, 'Dad', 167, 'grandfa', 164, 'grandma', 160, 'me', 164]

In [6]:
del(fam2[-2:])
print(fam2)

['Mark', 163, 'Della', 161, 'Mom', 159, 'Dad', 167, 'grandfa', 164, 'grandma', 160]

#### Begind the scene: what happens when you create a list?

it stores the data point in the computer memory.
for example

In [52]:
x = [1,2,3]

this x doesn't contain the list, it refer to the list'. It contains the ref to the list

For the basic operation the diffrence is not that important. \
However the probelm creates when you copy the list then do the operations

In [53]:
y = x
y[0] = 0

In [54]:
y

[0, 2, 3]

In [55]:
x

[0, 2, 3]

 notice that x has also changed. b/c both x and y refer to the same list. when you copy x into y, you're actually copying the ref. \
 
There are different ways you can prevent this

use list function

In [56]:
y = list(x)
y[2] =6
print(x)
print(y)

[0, 2, 3]
[0, 2, 6]

In [57]:
y = x[:]
y[2] = 0
print(x)
print(y)

[0, 2, 3]
[0, 2, 0]

### 1.5. Dictionaries

you can create dictionary by curly brackets

put the key, then colon then value of the corresponding key.

Dictionary has key-value pair, just like hash tabel

In [58]:
d = {'key1':'hello','key2':123}

In [59]:
d

{'key1': 'hello', 'key2': 123}

In [61]:
d[0]

KeyError: 0

In [62]:
#  you pass the key corresponding to the value
d['key1']

'hello'

In [63]:
d = {"key1":[1,2,3]}

In [64]:
d["key1"][0]

1

In [65]:
# Nested dictionary
d = {"k1":{"inner_k1":[1,2,3]}}

In [66]:
d["k1"]["inner_k1"][2]

3

### 1.6. Tuples 
which is similar, instead of square brackets, it uses parenthesis

In [67]:
t = (1,2,3)

In [68]:
t[0]

1

In [69]:
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [102]:
# tuples are not mutable
# users can not change the items in the tuples

### 1.7. Sets
 - A set is a collections of unique elements 
 - It is an unordered collection with no duplicate elements.

In [70]:
{1,2,3}

{1, 2, 3}

In [71]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [63]:
# Application: eliminating duplicate entries of a list, use set() function
set([1,1,2,3,2,3,4])

{1, 2, 3, 4}

In [72]:
# Adding element into a set

s = {1,2,3}
s.add(4)
print(s)

{1, 2, 3, 4}

In [73]:
# If I add someting already in the set, what happens
s.add(1)
s

{1, 2, 3, 4}

In [67]:
# to create empty set use set() not {}

a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [69]:
a = set()
print(a)
print(type(a))

set()
<class 'set'>

## Part 2

### 2.1. Comparison Operators
it allows you to compare two elements to eaach other

In [74]:
1 > 2

False

In [75]:
1 < 2

True

In [76]:
1 >= 1

True

In [77]:
1 <= 4

True

In [78]:
1 == 1

True

In [80]:
1=1

SyntaxError: cannot assign to literal (1748595019.py, line 1)

In [81]:
'hi' == 'bye'

False

### 2.2. Logic Operators
combining multiple conditions

In [82]:
(1 > 2) and (2 < 3)
# to make this readable use parenthesis

False

In [83]:
(1 > 2) or (2 < 3)

True

In [84]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [85]:
True or False

True

In [86]:
True and False

False

### 2.3.  if,elif, else Statements
Now let's talk about code blocks

In [46]:
if 1 < 2:
    print('yes!')

yes!

In [88]:
if 1 < 2:
    print('1st')
else:
    print('last')

1st

In [90]:
if 1 > 2:
    print('1st')
else:
    print('last')

last

In [93]:
# let's check with multiple conditions 
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

### 2.4. for Loops

In [117]:
seq = [1,2,3,4,5]
# then we can use for loop to execute for every single element

In [62]:
for item in seq:
    print(item)
# item is tempo variable

1
2
3
4
5

In [90]:
for item in seq:
    print('Hello') # this block of code does not related to the seq, you can print anything

Hello
Hello
Hello
Hello
Hello

In [92]:
for num in seq:
    print(num*2)

2
4
6
8
10

### 2.5 while Loops

In [93]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1
    
# the loop breaks once the condition violates

i is: 1
i is: 2
i is: 3
i is: 4

### 2.6. The range() Function
If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [66]:
range(5)
# it is a generator of numerical values

range(0, 5)

In [96]:
for i in range(5):
    print(i)

0
1
2
3
4

In [49]:
list(range(5))

[0, 1, 2, 3, 4]

## Part 3 :  functions, methods, and python packages
### 3.1. functions

What is a function in python? A simple answer is a reusable code. You don't have to write same code again and again. Each function solves a particular task.\

In [56]:
# The keyword def introduces a function definition.
# It must be followed by the function name and the parenthesized list of formal parameters.


def my_func(param1):
    print("Hello "+ param1+"!")

In [100]:
my_func("Bob")

Hello Bob!

In [101]:
# if you wanna put default input
def my_func(param1 = "Default"):
    print("Hello "+ param1+"!")

In [102]:
my_func()

Hello Default!

In [103]:
# if you don't put the parentheis, you are asking python what this object is?
my_func

In [106]:
my_func()

Hello Default!

In [57]:
# Let's another func
# it’s good practice to include docstrings in code that you write, so make a habit of it.
def square(x):
    """
    You can write docstring here:
    This func gives the square of each input
    """
    return x**2

In [109]:
result = square(9)
print(result)

81


you can check the documentaion using shift+tab \

Checking docstring is very useful when you use built-in functions. There are many built-in functions.

you already used some of them: type()\

suppose you want to find the min 
height of your family members\

In [110]:
fam = [163,161,159,167,164,160]

# instead of writing your own code, you can use python built-in function min. you 
# simple pass the list into  the min functions

smallest = min(fam)
tallest = max(fam)

In [111]:
print(tallest)

167

the nice thing though you didn't know how max/min works, you still use it to fill your need and make your life easy

output = function_name(input)

#### 3.1.1 built-in functions with multiple inputs : 
round() it takes 2 inputs, 2nd is how many decimal place you want

In [117]:
num = round(67.273)
print(num)

67

In [119]:
num = round(67.273,2)
print(num)

67.27

In [121]:
#  how do you know how many inputs each function requires?
help(round)
?round

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

##### 3.1.2. Practice more on functions

In [122]:
# Create variables var1 and var2
var1 = [1, 2, 3, 4]
var2 = True

In [123]:
# Print out type of var1
print(type(var1))

<class 'list'>

In [125]:
# Print out length of var1
print(len(var1))

4

In [126]:
# Convert var2 to an integer: out2
out2 = int(var2)

In [127]:
type(out2)

int

In [128]:
out2

1

In [129]:
# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

In [130]:
# Paste together first and second: full

full = first+second
# Sort full in descending order: full_sorted
full_sorted = sorted(full, reverse = False)

# Print out full_sorted
print(full_sorted)

[9.5, 10.75, 11.25, 18.0, 20.0]

 how could you know the round(), sorted() functions exist in the first place. \
The answer is you learn it by time and coding experience. And \
Internet makes this your life easy. You search intenret wherther is a built-in func exists or not \

 Internet search

### 3.2. lambda expressions

In [138]:
def times5(var):
    return var*5

In [139]:
times5(2)

10

In [141]:
list_1= [1,2,3,4,5]

Suppose I want to apply the aabove function to every single element in this list :seq

We can use for loop to do that and append into another list. 

#### 3.2.1 map and filter

However, there is a python built-in func map() that allows you to do that.

In [142]:
map(times5,list_1)
# SHIFT+Enter see the doc string for the map

In [144]:
# to get the list, use the list function 
list(map(times5,list_1))

[5, 10, 15, 20, 25]

Instead of writing a function and then calling into map function, we can do this in one single line of code. that's where Lamda expression comes in to play

In [149]:
def times2(var):
    return var*2

# we can write this in one line

def times2(var): return var*2
print(times5(3)) # still it gives you the same result

15

In [148]:
# you can get rid of def and return 
lambda var: var*2
# this is a lambda expression

In [150]:
# Now instead wrting a func and passing into map, we can write a lambda ex
list(map(times5,list_1))
list(map(lambda var: var*2,seq))

# if you still get confused with this lambda ex, please feel free to use the func above

[2, 4, 6, 8, 10]

In [151]:
# Now let's talk about filter. filter has very similar structure to the map. Instead applying to every single element, it filters 
# out element from a seq.

# Let's look at an example. We can pass a function and the seq or we can write a lambda expression and the seq

filter(lambda item: item%2 == 0,list_1)

# this returns all the even number

In [152]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

### 3.3  Methods 
how can we find an index of an element in list? \
how can we reverse a list?\
you can't such function to do that.\

However, each of the following is a python object:\
 - int
 - float
 - str
 - list
 
Methods: functions that belong to python objects.

example

In [154]:
fam = ["Bob",163,"Della",161,"Mom",159,"Dad",167,"grandfa",164,"grandma",160]

# suppose you want to update Dad's height. For this samll list, you can easily
# find the index, how about a list wtih millions of data points?

In [155]:
fam.index("Dad")

# fam. then press tab, then you see all the methods available for that object

6

In [156]:
fam.count(163)

1

In [157]:
fam.pop()

160

In [158]:
fam

['Bob', 163, 'Della', 161, 'Mom', 159, 'Dad', 167, 'grandfa', 164, 'grandma']

In [159]:
# Now if you assign the index into pop, then it will pop that
first = fam.pop(0)

In [160]:
first

'Bob'

In [161]:
fam

[163, 'Della', 161, 'Mom', 159, 'Dad', 167, 'grandfa', 164, 'grandma']

In [162]:
fam.append(160)

In [163]:
fam

[163, 'Della', 161, 'Mom', 159, 'Dad', 167, 'grandfa', 164, 'grandma', 160]

Not only list, 

str, float, int aslo have methods associated with them

In [164]:
brother = "bob"
brother.capitalize()

'Bob'

In [165]:
# Print out the number of b's in brother
print(brother.count("b"))

2

In [166]:
st = "How are you?"
st.lower()

'how are you?'

In [167]:
st.upper()

'HOW ARE YOU?'

In [168]:
# Another commonly used method is split
st.split()

['How', 'are', 'you?']

In [169]:
st = "How are you # what are you doing?"
st.split("#")

['How are you ', ' what are you doing?']

In [170]:
brother.replace("b","y")

'yoy'

Now recall the dictionary: it has also method associated with

In [171]:
d = {'k1':10,'k2':20}

In [172]:
d.keys()

dict_keys(['k1', 'k2'])

In [173]:
d.items()

dict_items([('k1', 10), ('k2', 20)])

In [174]:
d.values()

dict_values([10, 20])

One more thing is "in" operator

In [175]:
'x' in [1,2,3]

False

In [176]:
'x' in ['x','y','z']

True

### 3.4 Tuple Unpacking

In [177]:
x = [(1,2),(3,4),(5,6)]

In [178]:
x[0][0]

1

In [179]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [180]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6

### 3.5 list comprehension

In [59]:
x = [1,2,3,4]

In [60]:
out = [] # empty list
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [61]:
# List comprehensions provide a concise way to create lists.

[item**2 for item in x]

# this is very common in python, that is called list comprehension, backward for loop

[1, 4, 9, 16]

In [132]:
out = [item**2 for item in x]
out

#  as a beginer if you are not comfortble with this, go ahead use the above for loop
# Once you get better and better in python you can use this one single line of code

[1, 4, 9, 16]

# Great Job!